# Игнорировать все файлы и папки
*

# Не игнорировать .java файлы
!*.java

.idea
java-test.iml

# Игнорировать специфичные для IDE файлы и папки
.idea/
*.iml
.vscode/
out/
bin/
target/
build/
nbproject/private/
nbbuild/
dist/
nbdist/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store
Thumbs.db

# Игнорировать скомпилированные классы и другие артефакты сборки
*.class
*.log
*.jar
*.war
*.ear

# Игнорировать временные файлы и каталоги, созданные различными IDE и системами сборки
/target/
/build/